= provide(:title, 'About')
%h1 About Project League
=image_tag 'http://vignette1.wikia.nocookie.net/josh100lubu/images/4/40/18360-doge-doge-simple.jpg/revision/latest?cb=20150626051745', size: '800x500'
