= provide(:title, 'Champions')
%h1 Champions
%hr
  %div.order
    %table
      - list_of_champions[:data].each do |key, value|
        %body.brightness= link_to image_tag(champ_icon_url + value[:key] + '.png', size: '60x60'),
                            champion_info_path(:action => :show_champion, :champion => value[:key])