.container
  .jumbotron
    %h1 Welcome To Project League!

    %p
      Website is still under construction, but you're
      more than welcome to check out or latest page.

    = render 'matches/form'
    -#= link_to 'Click Here', new_match_path, class: 'btn btn-primary', id: 'match-button', remote: true
    #user-form{ style: 'display:none;' }