.jumbotron
  .container
    %h1 Welcome To Project League!

    %p
      Website is still under construction, but you're
      more than welcome to check out our latest page.

    = render 'form'

    -#= link_to 'Click Here', new_match_path, class: 'btn btn-primary', id: 'match-button', remote: true

    -##user-form{ style: 'display:none;' }
    %hr
    %p
      Recent Pro Games!
    = link_to 'Dyrus', 'https://rocky-stream-2452.herokuapp.com/match?utf8=%E2%9C%93&summoner%5Bname%5D=dyrus&commit=Match+History'
    -#%h5= link_to 'Pobelter', 'https://rocky-stream-2452.herokuapp.com/match?utf8=%E2%9C%93&summoner%5Bname%5D=pobelter&commit=Match+History'
    -#%h5= link_to 'Doublelift', 'https://rocky-stream-2452.herokuapp.com/match?utf8=%E2%9C%93&summoner%5Bname%5D=doubleli  ft&commit=Match+History'