<div class="center">
<% provide(:title, "Home") %>
<h1>Welcome to Project League!</h1>
<p>
  <div class
  <%= render "layouts/form" %>

<%= link_to image_tag("leaguelogo.png", alt:"lologo"), 'https://leagueoflegends.com' %>
</div>