<div class="center">
<% provide(:title, "Home") %>
<h1>Welcome to Project League!</h1>
<p>
  <a href="https://leagueoflegends.com">Click to play League of Legends!</a></p>
<%= link_to image_tag("leaguelogo.png", alt:"lologo"), 'localhost:3000/home' %>
</div>