.panel
  %br
  %div
    %table.center
      %td
        %h4
          = game_type(match_history[:queue])
      %td
        %div
          %b Game Length
        %div= Time.at(match_history[:matchDuration]).utc.strftime('%M:%S')
    %body
      = render partial: 'team', collection: teams(match_history[:participants])