/%div Summoner ID: #{ @user.id }
.panel
  %br
  %div
    %table.center
      %td
        %h4= game_type(match_history[:matchType])
      %td
        %div
          %b Game Length
        %div= time(match_history[:matchDuration])
    %body
      = render partial: 'team_table', collection: teams(match_history[:participants]), as: :team