.panel.panel-default
  .panel-heading
    %h4.panel-title
      = game_type(match_history[:queue])
      Game Length
      = Time.at(match_history[:matchDuration]).utc.strftime('%M:%S')
  .panel-body
    %table.center
      %tbody
        = render partial: 'team', collection: teams(match_history[:participants])