.container
  .jumbotron
    %h1 Welcome To Project League!

    %p
      Website is still under construction, but you're
      more than welcome to check out or latest page.

    = render 'form'

    %hr
    %p
      Recent Pro Games!
    = link_to 'Dyrus', match_histories_path(summoner: { username: 'dyrus' }), method: :get
