= form_for :summoner, url: match_path, method: 'get', html: { class: 'form-inline' } do |f|
  .form-group
    = f.label 'username'
    = f.text_field :name, class: 'form-control', placeholder: 'Enter Summoner Name'
  = f.submit 'Match History', class: 'btn btn-primary'