@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-family: verdana;
  margin-right: 10px;
  padding: 10px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 900;
}

#logo:hover {
  color: yellow;
  text-decoration: none;
  background-color: #2E2F30;
  border-radius: 25px;
}

body {
  padding-top: 60px;
  background-image: url("blitz.png");
}



.center {
  text-align: center;
}

h1.center{
  margin-bottom: 10px;
}

h1{
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
}

table {
  background-color: white;
  border-collapse: collapse;
  table-layout:fixed;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}



td {
  width: 500px;
}

td, th {
  border: 1px solid black;
}






