@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-family: verdana;
  margin-right: 10px;
  padding: 10px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 900;
}

#logo:hover {
  color: yellow;
  text-decoration: none;
  background-color: #2E2F30;
  border-radius: 25px;
}

body {
  padding-top: 55px;
}

.center {
  text-align: center;
}

h1.center{
  margin-bottom: 10px;
}

h1.style {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
}



.signup {
  color:white;
  font-weight: bold;
}

.login {
  color:white;
  font-weight: bold;
}

td {
  padding: 5px;
}








