<div>
    <div class="input-group col-xs-4 col-xs-offset-4">
      <input type="text" class="form-control" placeholder="Enter summoner name...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div><!-- /input-group -->
</div>
