<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% link_to "Project League", root_path, id:"logo" %>
    <nav>
      <ul class="nav nav-pills">
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Stats", stats_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </div>
</header>


